<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Winfocus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxs-graduation icon'></i>
            <div class="logo_name">Winfocus</div>
        </div>
        <ul class="nav-links">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Management</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Management</a></li>
                    <li><a href="@Url.Action("AllUsers", "Management")">All Users</a></li>
                    <li><a href="@Url.Action("CreateUsers", "Management")">Create users</a></li>
                    <li><a href="@Url.Action("AcademicYear", "Management")">Academic Year</a></li>
                    <li><a href="@Url.Action("SyllabusCreation", "Management")">Syllabus Creation</a></li>
                    <li><a href="@Url.Action("ClassManagement", "Management")">Class Management</a></li>
                    <li><a href="@Url.Action("Stream", "Management")">Stream</a></li>
                    <li><a href="@Url.Action("Course", "Management")">Course</a></li>
                    <li><a href="@Url.Action("Subject", "Management")">Subject</a></li>
                    <li><a href="@Url.Action("Chapter", "Management")">Chapter</a></li>
                    <li><a href="@Url.Action("SubChapter", "Management")">Sub-chapter</a></li>
                    <li><a href="@Url.Action("Module", "Management")">Module</a></li>
                    <li><a href="@Url.Action("MaterialType", "Management")">Material Type</a></li>
                    <li><a href="@Url.Action("NoteType", "Management")">Note Type</a></li>
                    <li><a href="@Url.Action("Batch", "Management")">Batch</a></li>
                    <li><a href="@Url.Action("PreferredTimeSlot", "Management")">Preferred Time Slot</a></li>


                    @*<li><a href="@Url.Action("SchoolState", "Management")">School State</a></li>
                    <li><a href="@Url.Action("District", "Management")">District</a></li>
                    <li><a href="@Url.Action("SchoolDetails", "Management")">School Details</a></li>
                    <li><a href="@Url.Action("CreateGroup", "Management")">Create Group</a></li>
                    <li><a href="@Url.Action("ManageGroup", "Management")">Manage Group</a></li>
                    <li><a href="@Url.Action("CourseFee", "Management")">Course fee</a></li>
                    <li><a href="@Url.Action("RequestCallBack", "Management")">Request call back</a></li>
                    <li><a href="@Url.Action("StudentReference", "Management")">Student Reference</a></li>
                    <li><a href="@Url.Action("CreateLessonSummary", "Management")">Create Lesson Summery</a></li>
                    <li><a href="@Url.Action("AddMeeting", "Management")">Add meeting</a></li>
                    <li><a href="@Url.Action("TimeTable", "Management")">Time table</a></li>
                    <li><a href="@Url.Action("Blog", "Management")">Blog</a></li>
                    <li><a href="@Url.Action("SupportTicket", "Management")">Support Ticket</a></li>
                    <li><a href="@Url.Action("Complaints", "Management")">Complaints</a></li>*@
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-user-detail'></i>
                        <span class="link_name">Student</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Student</a></li>
                    <li><a href="#">Registration List</a></li>
                    <li><a href="#">Create exams</a></li>
                    <li><a href="#">Upload Study Materials</a></li>
                    <li><a href="#">Upload Videos</a></li>
                    <li><a href="#">Attendance management</a></li>
                    <li><a href="#">Create Assessment</a></li>
                    <li><a href="#">IP Address Management</a></li>
                    <li><a href="#">Student List</a></li>
                    <li><a href="#">Fee payment History</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-user-voice'></i>
                        <span class="link_name">Teacher</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Teacher</a></li>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Attendance</a></li>
                    <li><a href="#">All Teachers</a></li>
                    <li><a href="#">Work Assigned</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-desktop'></i>
                        <span class="link_name">DTP</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">DTP</a></li>
                    <li><a href="#">Registrations</a></li>
                    <li><a href="#">Question Answers</a></li>
                    <li><a href="#">Manage Question</a></li>
                    <li><a href="#">User Management</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-headphone'></i>
                        <span class="link_name">CRM</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">CRM</a></li>
                    <li><a href="#">Registrations</a></li>
                    <li><a href="#">Set Target</a></li>
                    <li><a href="#">View Groups</a></li>
                    <li><a href="#">Add new Calls</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Payments</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-award'></i>
                        <span class="link_name">Scholarship</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Scholarship</a></li>
                    <li><a href="#">Registrations</a></li>
                    <li><a href="#">Create Exam</a></li>
                    <li><a href="#">Exam List</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <a href="@Url.Action("Logout", "Account")">
                        <i class='bx bx-log-out'></i>
                        <span class="link_name">Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            @RenderBody()
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
    </script>
</body>
</html>